@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

html, body, [class*="css"] {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* metric label*/
[data-testid="stMetricLabel"] > div:nth-child(1) {
    font-size: 16px;
    color: #667085;
    justify-content: center;
}

/* metric value*/
[data-testid="stMetricValue"] > div:nth-child(1) {
    font-size: 36px;
    color: #42525E;
    justify-content: center;
}

/*center metric delta value*/
div[data-testid="metric-container"] > div[data-testid="stMetricDelta"] > div {
  justify-content: center;
  /*color: #01cefc;*/
}

/*center metric delta svg*/
[data-testid="stMetricDelta"] > svg {
  position: absolute;
  left: 30%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*hide dataframe row index*/
/*
.row_heading.level0 {
    display:none
}
.blank {
    display:none
}
*/